model: claude-sonnet-4-6
auth_token: <your token>
base_url: <your base url, optional>
tools:
  - name: photos
    bin: /path/to/examples/photos/photos
    hint: a tool to access MacOS Photos app
  - name: magick
    bin: /opt/homebrew/bin/magick
    hint: ImageMagick tool to process and edit images
  - name: bash
    bin: /bin/bash
    prefix_args:
      - -c
    hint: run arbitrary shell commands
skills: []
